<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      form {
        display: flex;
        flex-direction: column;
      }
      form,
      h1 {
        margin-left: 40px;
        margin-top: 40px;
      }
      input,
      button {
        font-size: 20px;
        margin-bottom: 20px;
      }
      button {
        width: 255px;
      }
    </style>
  </head>
  <body>
    <h1>Upload Image</h1>
    <form action="/uploadImage" method="post" enctype="multipart/form-data">
      <input type="file" name="image" accept="image/*" required />
      <button type="submit">Upload Image</button>
    </form>
  </body>
</html>
